dataset:
  data_file: '../data/cmn.txt'
  lang1_name: 'English'
  lang2_name: 'Chinese'
  max_len: 10
  percentage: 0.1
  

train: 
  device: 'cuda:3'
  batch_size: 32
  n_epochs: 3000
  lr: 0.001

encoder:
  emb_size: 512
  hidden_size: 512
  rnn_cell: 'GRU'
  padding_idx: 0
  bidirectional: False
  n_layers: 2
  dropout: 0.5

decoder:
  emb_size: 512
  hidden_size: 512
  rnn_cell: 'GRU'
  padding_idx: 0
  bidirectional: False
  n_layers: 2
  dropout: 0.5
